[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/rathodm21
[access "refs/for/refs/*"]
	read = group user/rathodm21
	push = group user/rathodm21
	label-Code-Review = -2..+2 group user/rathodm21
	label-Verified = -1..+1 group user/rathodm21
	rebase = group user/rathodm21
	removeReviewer = group user/rathodm21
	submit = group user/rathodm21
[access "refs/heads/*"]
	read = group user/rathodm21
	create = group user/rathodm21
	push = +force group user/rathodm21
	pushMerge = group user/rathodm21
[access "refs/tags/*"]
	push = +force group user/rathodm21
	pushTag = group user/rathodm21
	pushSignedTag = group user/rathodm21
